// layout
@import "partials/baselayout";
@import "partials/action-button";

.form-control {
    background: $basecolor2;
    color: darken($basecolor3, 40%);
    font-size: 0.8em;
    padding: 0.2em;
    margin: 0.2em;
    border-width: 0em;
    height: 2.0em;
}

.control-label {
    font-size: 0.8em;
}

.picker__box {
    background: $basecolor2;
    color: darken($basecolor3, 40%);

}

