
.deform {
    li>input {
	background: $basecolor2;
    }
    li>textarea {
	background: $basecolor2;
    }
    li>select {
	background: $basecolor2;
    }
    li>button {
	background: $basecolor2;
    }
    li>password {
	background: $basecolor2;
    }
}

